* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: 'PT Sans', sans-serif;
  /* padding: 0; */
}

header {
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
  padding: 30px 0;
  /* font-size: 0.9em; */
}
.main {
  margin: 0 auto;

}
.sign {
  text-align: center;
  margin-top: 59px;
  border-bottom: solid 5px black;
  font-size: 1.2rem;
    /* outline: solid 5px black; */
}
.sign-p {
  color: lightgrey;
  font-size: 1.0em;
}
.news-p {
  color: black;
  font-size: 1.5rem;
  padding-top: 25px;
  margin: 0;
}
form {
  margin-top: 20px;
}
.flex {
  margin-top: 5px;
  border-top: solid 3px black;
  /* background: #EFC9A2; */
}
.background {
  background: #EFECEC;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0 20px;
}
legend {
  font-size: 1.9rem;
  font-weight: bold;
  /* width: 100%; */
  text-align: left;
  padding: 15px 0;
}
.info {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
  /* margin: 0 auto; */
  margin-bottom: 30px;
  /* text-align: left; */
}
.font {
  font-size: 1.5em;
  color: darkgrey;
}
.checkfont {
  color: grey;
  font-size: 1.5em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
input[type="city"],
input[type="number"],
textarea[name="user_info"],
select
 {

  margin-top: 20px;
  border: 0;
  background: lightgrey;
  height: 75px;
  width: 100%;
  padding: 0 20px;
  font-size: 2em;
  border-radius: 10px;
  border: solid 1px lightgrey;
  transition: all .2s ease-out;
}

input[type="checkbox"],
input[type="radio"] {
  width: 15px;
  height: 15px;
  /* background: white; */
  border-radius: 2px;
  margin-top: 20px;
}

.newsLetter input:hover,
button:hover {
  cursor: pointer;
}

input::placeholder {
  text-align: right;
  padding-right: 10px;
  font-size: 1.3rem;
  font-style: italic;
}
input:focus,
select:focus,
#information:focus {
  border: solid 1px blue;
  transition: 0.5s ease-out;
  outline: none;
}

option,
optgroup {
  font-size: 1.5rem;
}

#zipcode {
  width: 40%;
}
.contact {
  border-bottom: 5px solid black;
}

.newsLetter {
  margin-top: 50px;
}

#information {
  width: 100%;
  height: 125px;
}

button {
  background: lightblue;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 35px auto;
  align-self: center;
  width: 100%;
  height: 100px;
  /* outline: none; */
  border: none;
  transition: all 0.5s ease-out;
}
button:hover {
  border: 2px solid blue;
}
.center {
  text-align: center;
}

@media (min-width: 768px) {
  .main {
    width: 50%;
  }
  .info {
    flex-direction: row;
    /* flex: 3; */
    /* padding-left: 200px; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
  }
  .flex label {
    min-width: 10em;
    margin-top: 2em;
  }
  input[type="checkbox"],
  input[type="radio"] {
    width: 18px;
    height: 18px;
    /* background: white; */
    border-radius: 2px;
    margin-top: 20px;
  }
  /* .flex label,
  .flex input {
    display: inline;
  } */

}
